* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: "Work Sans";
  src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

body {
  background-color: #aaaaaa55;
}

/* Header */

header {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25em;
}

header p {
  font-family: "Work Sans";
  font-size: 1.1em;
  color: white;
  text-align: center;
}

header h1:nth-of-type(1) {
  font-family: "Inter";
  font-size: 8em;
  color: white;
  word-spacing: 1.5em;
  text-transform: uppercase;
  height: 8.8vh;
}

header h1:nth-of-type(2) {
  font-family: "Inter";
  font-size: 8em;
  color: black;
  padding: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 #ffffff, -3px 3px 0 #ffffff, -3px -3px #ffffff,
    3px -3px 0 #ffffff;
}

header div:nth-of-type(2) {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header button {
  font-size: 1.5em;
  padding: 1rem 3rem;
  color: white;
  background-color: black;
  border: 1px solid white;
  margin-right: 4.5rem;
}

header img {
  padding: 1rem 1rem;
  margin-left: 4.5rem;
}

/* Section 1 */
.text-bold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: black;
  color: white;
  font-family: "Inter";
  font-size: 8em;
  padding: 10rem 0;
}

.text-bold p {
  margin-left: 11rem;
}

/* Section2 Last year*/
.facts {
  height: 60vh;
  background-color: black;
  background-image: url(../img/map.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: white;
}

.facts p:nth-last-of-type(even) {
  font-family: "Work Sans";
  font-size: 1.1em;
  margin-bottom: 1rem;
  margin-left: 11rem;
}
.facts p:nth-last-of-type(odd) {
  font-family: "Inter";
  font-size: 8em;
  margin-bottom: 2rem;
  margin-left: 11rem;
}

/* Section3 Image gallery */
main > .imageSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
main > .imageSection img {
  width: 25vw;
  display: block;
}
main > .imageSection .imgSectionImg1 {
  grid-column: 3/4;
  grid-row: 1/2;
  transform: translateY(-10vh);
}
main > .imageSection .imgSectionImg2 {
  width: 18vw;
  grid-column: 1/2;
  grid-row: 2/3;
  transform: translateX(4vw);
}
main > .imageSection .imgSectionText1 {
  grid-column: 2/3;
  grid-row: 3/4;
  transform: translateY(-8vh);
  width: 38vw;
}
main > .imageSection .imgSectionText1 h2 {
  font-family: "Inter";
  font-size: 6rem;
  margin-bottom: 2.2vh;
}
main > .imageSection .imgSectionImg3 {
  width: 20vw;
  grid-column: 3/4;
  grid-row: 4/5;
  transform: translateY(-16vh);
  margin: 0 0 0 auto;
}
main > .imageSection .imgSectionImg4 {
  grid-column: 1/2;
  grid-row: 4/5;
  transform: translateX(15vw);
}
main > .imageSection .imgSectionImg5 {
  grid-column: 3/4;
  grid-row: 7/8;
  transform: translate(-5vw, -5vh);
}
main > .imageSection .imgSectionText2 {
  grid-column: 2/3;
  grid-row: 8/9;
  transform: translateY(3vh);
}
main > .imageSection .imgSectionImg6 {
  grid-column: 1/2;
  grid-row: 8/9;
}
main > .imageSection .imgSectionImg7 {
  width: 30vw;
  grid-column: 2/3;
  grid-row: 9/10;
  transform: translate(20vw, 2vh);
}

.galleryText {
  font-size: 2rem;
}

/* Section 4 Golden Bear*/
.goldenBear {
  background-color: black;
  color: white;
  padding: 10vh 0;
}

.bearWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 11rem;
  gap: 10rem;
}

.bearWrapper div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.bearWrapper div:nth-of-type(1) p:nth-of-type(1) {
  font-family: "Work Sans";
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.bearWrapper div:nth-of-type(1) p:nth-of-type(2) {
  font-family: "Inter";
  font-size: 7em;
}

.artistWrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 6rem;
}

.artistWrapper p:nth-of-type(1) {
  font-family: "Inter";
  font-size: 2.1em;
  margin-bottom: 1.5em;
}

.artistWrapper p:nth-of-type(2) {
  font-family: "Work Sans";
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.goldenBear_image {
  display: flex;
  justify-content: center;
}
.goldenBear_image img:nth-of-type(1) {
  height: 60vh;
  position: relative;
  top: 300px;
}

.goldenBear_image img:nth-of-type(2) {
  height: 40vh;
  position: relative;
  top: 420px;
  right: 50px;
}
/* Section 5 Animation Circle */

.animationCircle {
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  height: 60vh;
}

.animationCircle img {
  position: relative;
  left: 220px;
  bottom: 180px;
  animation: move 10s linear infinite;
}

@keyframes move {
  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Section 6 */

.poppyBear {
  height: 100vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.poppyBear_image {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}
.poppyBear_image img:nth-of-type(1) {
  height: 40vh;
  position: relative;
  top: 120px;
  left: 70px;
  z-index: 1;
}

.poppyBear_image img:nth-of-type(2) {
  height: 60vh;
  position: relative;
}

/* Footer */

footer {
  overflow-x: hidden;
  background: #000;
  color: #fff;
  margin-top: 17rem;
  height: 75vh;
  background-color: black;
  color: white;
  padding-left: 11rem;
}

footer button {
  font-size: 1.5em;
  padding: 1rem 3rem;
  color: white;
  background-color: black;
  border: 1px solid white;
  margin-right: 4.5rem;
}

footer .footerBanner {
  overflow-x: hidden;
  background: #fff;
  color: #000;
  width: 90vw;
  transform: rotate(40deg) translateY(460%);
  position: relative;
  left: 700px;
  margin-top: 1vh;
  /* border: #f21cee solid 3px; */
}
footer .footerBanner .footerBannerAnimation {
  font-family: "Inter";
  font-size: 6rem;
  animation: footerBanner 3s linear infinite alternate;
}
footer .footerBanner .footerBannerAnimation span {
  -webkit-text-stroke: 1px #000;
  color: #fff;
  font-family: "Inter";
  font-size: 6rem;
}
@keyframes footerBanner {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(30%);
  }
}
footer .footerTextBlock {
  padding: 1vh 2vw;
  margin-bottom: 1vh;
  width: 30vw;
  /* border: #00ff1a solid 3px; */
}
footer .footerTextBlock .smallText {
  font-family: "Inter";
  font-size: 2rem;
  margin-bottom: 2vh;
  margin: 4vh 0;
}
footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8vh 25vw 1vh 2vw;
  /* border: #d4ff00 solid 3px; */
}
footer nav .socialMediaLogo div img {
  width: 40px;
  padding: 5px;
}
footer nav .socialMediaLogo p {
  margin: 2vh 0;
}
footer nav .ngo img {
  width: 7vw;
}
